<% @posts.each do |post| %>
  <ul>
    <li><%= post.description %></li>
    <%= image_tag (post.image), class: "img-responsive"%>
    <% p post.image_path%>
    <li><%= post.user.username %></li>
    <li><%= post.created_at %></li>
    <li><%= link_to 'Show', post_path(post) %></li>
    <li><%= link_to 'Edit', edit_post_path(post) %></li>
    <li><%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
<% end %>
